<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header') %>
    <form action="/products/deleteItem/<%= product.id %>?_method=DELETE" class="form-container" method="POST" enctype="multipart/form-data">
        <div class="title">
            <h1>Editar producto</h1>
        </div>
        <div class="form-block">
            <div class="first-block">
                <div class="form-unitary">
                    <label for="product name">Nombre del producto</label>
                    <input type="text" name="name" id="product name" value="<%= product.name %> " required>
                </div>
                <div class="form-unitary">
                    <label for="brand name">Marca</label>
                    <input type="text" name="brand" id="brand name" value="<%= product.brand %> " required>
                </div>
                <div class="form-unitary">
                    <label class="description" for="description">Descripción</label>
                    <textarea name="description" id="description" cols="30" rows="5" required><%= product.description%></textarea>
                </div>
            </div>
            <div class="second-block">
                <div class="form-unitary">
                    <label>Categoría del producto</label>
                    <input type="categoría" value="<%= product.category %> ">
                </div>
                <div class="form-unitary">
                    <label for="stock">Stock</label>
                    <input type="text" name="stock" id="stock" value="<%= product.stock %> " required>
                </div>
                <div class="form-unitary">
                    <label for="product price">Precio unitario</label>
                    <input type="text" name="price" id="product price" value="<%= product.price %> " required>
                </div>
            </div>
        </div>
        <div class="buttons-editItem">
            <a href="/crud"><button class="edit" type="submit">Grabar</button></a>
            <button class="delete" type="submit">Cancelar</button>
        </div>
    </form>
    <%- include('../partials/footer') %>
</body>
</html>