<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="main-product">
                    <section class="product-container wrapper-container">
                        <img src="/images/products/<%= product.image %> " alt="imagen producto <%= product.id %>" width="100%">
                        <div class="top-product-info">
                            <ul>
                                <a href="/">
                                    <li>home ></li>
                                </a>
                                <li><%= product.category %>></li>
                                <li><%= product.name %></li>
                            </ul>
                            <article class="brand-name-price">
                                <div class="brand-name">
                                    <div class="brand">
                                        <h3><%= product.brand %></h3>
                                    </div>
                                    <div class="name-product">
                                        <h5><%= product.name %></h5>
                                    </div>
                                </div>
                                <div class="price">
                                    <span>$ <%= product.price %> </span>
                                </div>
                            </article>
                            <div class="buy-button">
                                <div class="quantity">
                                    <div class="decrease">
                                        <button class="subtract">-</button>
                                    </div>
                                    <div class="amount">1</div>
                                    <div class="increase">
                                        <button class="add">+</button>
                                    </div>
                                </div>
                                <a href="/products/cart">
                                    <div class="add-to-cart">
                                        <div class="add-product">Agregar</div>
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="extra-links">
                                <a href="#">
                                    <div class="payment-methods">
                                        <i class="fas fa-credit-card"></i>
                                        Metodos de pago
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="shipping-options">
                                        <i class="fas fa-truck"></i>
                                        Opciones de envío
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section>
                    <section class="bottom-product-info wrapper-container">
                        <h3>Descripción del producto</h3>
                        <p><%= product.description %></p>
                        <h4>Opiniones del producto</h4>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <br><button type="submit" class="product-opinion">Publica tu opinión</button>
                        <a href="#">
                            <div class="look-opinions">
                                Ver opiniones
                            </div>
                        </a>
                    </section>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>