<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" href="/css/editItem.css">
</head>
<body>
    <form action="/products/editItem/<%= product.id %>?_method=PUT" class="form-container" method="POST" enctype="multipart/form-data">
        <div class="title">
            <h1>Editar producto</h1>
        </div>
        <div class="form-unitary">
            <label for="product name">Nombre del producto</label>
            <input type="text" name="name" id="product name" value="<%= product.name %> " required>
        </div>
        <div class="form-unitary">
            <label for="brand name">Marca</label>
            <input type="text" name="brand" id="brand name" value="<%= product.brand %> " required>
        </div>
        <div class="form-unitary">
            <label class="description" for="description">Descripción</label>
            <textarea name="description" id="description" cols="30" rows="5" required><%= product.description%></textarea>
        </div>
        <div class="form-unitary">
            <label for="img">Imágen</label>
            <input type="file" name="image" id="img" required value="<%= product.image %> " accept="image/*">
        </div>
        <div class="form-unitary">
            <label>Categoría del producto</label>
            <select name="category" required>
                <option selected >Elige una opción</option>
                <optgroup label="Salud">
                    <option value="Higiene personal">Higiene personal</option>
                    <option value="Higiene oral">Higiene oral</option>
                    <option value="Cudiado del bebé">Cuidado del bebé</option>
                </optgroup>
                <optgroup label="Belleza">
                    <option value="Labios">Labios</option>
                    <option value="Ojos">Ojos</option>
                    <option value="Rostro">Rostro</option>
                </optgroup>
                <optgroup label="Limpieza">
                    <option value="Limpieza hogar">Limpieza hogar</option>
                    <option value="Limpieza ropa">Limpieza ropa</option>
                </optgroup>
            </select>
        </div>
        <div class="form-unitary">
            <label for="colors">Colores</label>
            <input type="color" name="color" id="colors" placeholder="rojo">
        </div>
        <div class="form-unitary">
            <label for="stock">Stock</label>
            <input type="text" name="stock" id="stock" value="<%= product.stock %> " required>
        </div>
        <div class="form-unitary">
            <label for="product price">Precio unitario</label>
            <input type="text" name="price" id="product price" value="<%= product.price %> " required>
        </div>
        <div class="buttons">
            <a href="/crud"><button class="edit" type="submit">Editar</button></a>
            <button class="delete" type="submit">Borrar</button>
        </div>
    </form>
</body>
</html>