<tr class="tr-crud">
    <td><%= product.name %> </td>
    <td><%= product.brand %></td>
    <td><%= product.category %></td>
    <td><%= product.stock %></td>
    <td>$<%= product.price %></td>
    <td class="actions">
        <form action="" class="edit-product" method="POST">
                <a href="/products/editItem/<%= product.id %>">
                    <i class="fas fa-edit"></i>
                </a>
        </form>
        <form action="" class="delete-product" method="POST">
            <a href="/products/deleteItem/<%= product.id %>">
                <i class="fas fa-trash-alt"></i>
            </a>
        </form>
    </td>
</tr>