<header>
    <div class="wrapper-container">
        <div class="top-box">
            <div class="burger-menu">
                <a onclick="burgerMenuClick()">
                    <div class="burger">
                        <i class="fas fa-bars"></i>
                    </div>
                </a>
            </div>
            <a class='logo' href="/"><img src="/images/logo-gnjfarma.png"></a>
            <div class="search-bar">
                <input type="text" class="searchTerm" placeholder="Buscar">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <a href="/users/login">
                <div class="user">
                    <i class="far fa-user"></i>
                </div>
            </a>
            <a href="/products/cart">
                <div class="my-cart">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="my-order">Mi compra</div>
                </div>
            </a>
        </div>
        <div class="burger-menu-items" id="burger-menu-items">
            <%- include('../partials/headerBurgerMenuCategory', {title: "Salud", items: ["Higiene personal", "Higiene oral", "Cuidado del bebé"]}) %>
            <%- include('../partials/headerBurgerMenuCategory', {title: "Belleza", items: ["Labios", "Ojos", "Rostro"]}) %>
            <%- include('../partials/headerBurgerMenuCategory', {title: "Limpieza", items: ["Limpieza hogar", "Limpieza ropa"]}) %>
        </div>
        <br>
        <nav>
            <ul class='categories'>
                <%- include('../partials/headerMenuCategory', {title: "Salud", items: ["Higiene personal", "Higiene oral", "Cuidado del bebé"]}) %>
                <%- include('../partials/headerMenuCategory', {title: "Belleza", items: ["Labios", "Ojos", "Rostro"]}) %>
                <%- include('../partials/headerMenuCategory', {title: "Limpieza", items: ["Limpieza hogar", "Limpieza ropa"]}) %>
            </ul>
        </nav>

    </div>
</header>