<div class="product">
    <a href="/products/detail/<%=product.id %> ">
        <img src="/images/products/<%= product.image %> " alt="imagen producto <%= product.id %> ">
        <div class="product-detail">
            <div class="product-detail-description">
                <%= product.name %> 
            </div>
            <div class="product-detail-price">
               $<%= product.price %> 
            </div>
        </div>
    </a>
    <a href="/products/cart" class="add-to-cart">
        <i class="fas fa-shopping-cart"></i>
        Agregar
    </a>
</div>